<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="d.app.grafika">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar" > -->
        <activity
            android:name="com.android.grafika.ScreenRecordActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.grafika.ReadPixelsActivity"
            android:label="@string/title_activity_read_pixels" >
        </activity>
        <activity
            android:name="com.android.grafika.PlayMovieActivity"
            android:label="@string/title_activity_play_movie" >
        </activity>
        <activity
            android:name="com.android.grafika.LiveCameraActivity"
            android:label="@string/title_activity_live_camera" >
        </activity>
        <activity
            android:name="com.android.grafika.CameraCaptureActivity"
            android:label="@string/title_activity_camera_capture" >
        </activity>
        <activity
            android:name="com.android.grafika.TextureViewGLActivity"
            android:label="@string/title_activity_texture_view_gl" >
        </activity>
        <activity
            android:name="com.android.grafika.TextureViewCanvasActivity"
            android:label="@string/title_activity_texture_view_canvas" >
        </activity>
        <activity
            android:name="com.android.grafika.RecordFBOActivity"
            android:label="@string/title_activity_record_fbo"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >

            <!-- android:screenOrientation="landscape" -->
            <!--
                 Without the NoTitleBar theme, the widgets are partially transparent,
                 and the SurfaceView colors bleed through.  Not sure why that is.
            -->
            <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->
        </activity>
        <activity
            android:name="com.android.grafika.ChorTestActivity"
            android:label="@string/title_activity_chor_test" >
        </activity>
        <activity
            android:name="com.android.grafika.DoubleDecodeActivity"
            android:label="@string/title_activity_double_decode" >
        </activity>
        <activity
            android:name="com.android.grafika.ContinuousCaptureActivity"
            android:label="@string/title_activity_continuous_capture" >
        </activity>
        <activity
            android:name="com.android.grafika.SoftInputSurfaceActivity"
            android:label="@string/title_activity_soft_input_surface" >
        </activity>
        <activity
            android:name="com.android.grafika.HardwareScalerActivity"
            android:label="@string/title_activity_hardware_scaler"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.android.grafika.GlesInfoActivity"
            android:label="@string/title_activity_gles_info" >
        </activity>
        <activity
            android:name="com.android.grafika.PlayMovieSurfaceActivity"
            android:label="@string/title_activity_play_movie_surface" >
        </activity>
        <activity
            android:name="com.android.grafika.MultiSurfaceActivity"
            android:label="@string/title_activity_multi_surface_test"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="com.android.grafika.CodecOpenActivity"
            android:label="@string/title_activity_codec_open" >
        </activity>
        <activity
            android:name="com.android.grafika.TextureUploadActivity"
            android:label="@string/title_activity_texture_upload" >
        </activity>
        <activity
            android:name="com.android.grafika.ColorBarActivity"
            android:label="@string/title_color_bar"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.android.grafika.ScheduledSwapActivity"
            android:label="@string/title_scheduled_swap"
            android:theme="@android:style/Theme.Black" >
        </activity>
        <activity
            android:name="com.android.grafika.TextureFromCameraActivity"
            android:label="@string/title_texture_from_camera"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

    </application>

</manifest>